# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
Lib/
Scripts/
Include/
pyvenv.cfg
.venv/
venv/

# Modelos
*.gguf
*.onnx
*.bin
*.zip

# Piper
piper/

# llama.cpp
llama_cpp_test/
llama_cpp_test_backup/
llama_cpp_test_oficial/

# Backups y versiones antiguas

BACKUP_*/
backups_*/
cirugia_*/
*_backup.py
*_backup_*.py
*_BACKUP_*.py

# Audios de prueba
*.wav

# Memorias locales
memoria.json
memoria_cerebro.json
memoria_rapida.json

# Audio de pruebas
*.wav

# Logs
*.log
*.tmp